@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-lg-12">
        @using (Html.BeginForm("Search", "Products"))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-4">
                        @Html.Editor("content")
                    </div>
                    <div class="">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    
</div>